server:
  port: 8761
spring:
  application:
    name: SCW-REGISTER
eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false #不再注册到其他eureka服务中心
    fetch-registry: false   #不在其他Eureka拉取服务器信息
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka

